<!-- Importing Header -->
<%- include partials/header.ejs %>

<!-- Importing NavBar -->
<%- include partials/main_nav.ejs %>
<!-- MAIN CONTENT SECTION -->
<main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-1 fw-bolder">Welcome</h1>
            <p class="col-md-8 fs-4">Thank you for taking the time to stop by and look at my humble website. Here you will find my portfolio work from my time at Centennial College.</p>
        </div>
    </div>
</main>
<!-- Importing Scripts -->
<%- include partials/footer.ejs %>