<!-- Importing Header -->
<%- include partials/header.ejs %>

<!-- Importing NavBar -->
<%- include partials/main_nav.ejs %>

<!-- MAIN PROJECTS SECTION -->
<main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-1 fw-bolder"><%= title %></h1>
            <p class="col-md-8 fs-4 pb-4">These are some projects that I have worked on in the past that I really enjoyed that helped me discover and become the programmer I am today!</p>
        </div>
    </div>
</main>

<!-- Importing Scripts -->
<%- include partials/footer.ejs %>